/* Colors notes as light blue, with a black outline. */
#noteBox {
    -fx-fill: lightblue; 
    -fx-stroke: black;    
}

/* Colors staff lines as light gray. */
#staffLine {
    -fx-stroke: lightgray;
}