
.root {    
    -fx-background-color: #34495E;
}

#musicPane {
        -fx-background-color: #D6DBDF;
}

#instrumentButtonsGroup {
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

#pianoButton {
     -fx-mark-highlight-color: grey ;
     -fx-mark-color: grey ;
}

#noteBoxPiano {
    -fx-fill: grey; 
    -fx-stroke: black; 
}

#harpsicordButton {
     -fx-mark-highlight-color: green;
     -fx-mark-color: green;
}

#noteBoxHarpsicord {
    -fx-fill: green; 
    -fx-stroke: black;  
}

#marimbaButton {
     -fx-mark-highlight-color: blue;
     -fx-mark-color: blue;
}

#noteBoxMarimba {
    -fx-fill: blue; 
    -fx-stroke: black;    
}

#organButton {
     -fx-mark-highlight-color: yellow;
     -fx-mark-color: yellow;
}

#noteBoxChurchOrgan {
    -fx-fill: yellow; 
    -fx-stroke: black;    
}

#accordionButton {
     -fx-mark-highlight-color: purple;
     -fx-mark-color: purple;
}

#noteBoxAccordion {
    -fx-fill: purple; 
    -fx-stroke: black;    
}

#guitarButton {
     -fx-mark-highlight-color: lightblue;
     -fx-mark-color: lightblue;
}

#noteBoxGuitar {
    -fx-fill: lightblue; 
    -fx-stroke: black;    
}

#violenButton {
     -fx-mark-highlight-color: darkslategrey;
     -fx-mark-color: darkslategrey;
}

#noteBoxViolin {
    -fx-fill: darkslategrey; 
    -fx-stroke: black;    
}

#hornButton {
     -fx-mark-highlight-color: brown;
     -fx-mark-color: brown;
}

#noteBoxFrenchHorn {
    -fx-fill: brown; 
    -fx-stroke: black;    
}

/* Colors staff lines as light gray. */
#staffLine {
    -fx-stroke: lightgray;
}